<!DOCTYPE html>
<%- include('partials/header') -%>
<html>
<head>
	<title> User_name </title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style/home_style2.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
 
  background-color: white;
  color: black;
  

}
.dark-mode {
  background-color: black;
  color: white;
}


* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #f1f1f1;
}


form.example button {
  float: left;
  width: 14%;
  border-radius: 4px;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<body>

<br>

<form class="example"action="/home/member/search" method="get" style="margin:auto;max-width:300px">
  <input type="text" class="form-control" placeholder="Search.." name="search2">
  <div id="flip"><button  name="search"><i class="fa fa-search"></i></div></button>
 
</form>
<div style="padding-bottom:2000px"></div>


</body>
</html> 
